torch
torchvision
transformers
sentence-transformers
scikit-learn
joblib
numpy
pandas
scipy
matplotlib
pillow
nibabel
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
faiss-cpu
pypdf
reportlab
streamlit
requests
python-dotenv
sqlalchemy
psycopg2-binary
